.card {
	font-weight: 400;
	font-size: 14px;
	display: flex;
	width: 941px;
	height: 128px;
	border-radius: 16px;
	background: var(--bg_color_layout);
	padding-left: 24px;
	padding-right: 36px;

	&__avatarBlock {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		background-color: var(--color_ffffff);
		display: flex;
		margin-top: 36px;
		margin-bottom: 36px;
		margin-right: 24px;
	}

	&__avatarImg {
		height: 56px;
		width: 56px;
		border-radius: 50%;
	}

	&__info {
		display: flex;
		flex-direction: column;
		margin: 42px 0;
		justify-content: space-between;
	}

	&__fio {
		font-size: 16px;
	}

	&__contact {
		display: flex;
		align-items: center;
		justify-content: center;

		&:nth-child(3) {
			flex-grow: 2;
		}
	}

	&:hover {
		cursor: pointer;
		background-color: var(--color_ffffff);
	}
}
