@use '../../variables' as var;

.card {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  width: 941px;
  height: 96px;
  border-radius: 16px;
  background: var.$bg_color_layout;
  padding-left: 24px;
  padding-right: 36px;

  &__link {
    text-decoration: none;
    color: var.$text_color_default;
  }

  &__avatarBlock {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var.$color_ffffff;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 24px;
  }

  &__avatarImg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 391px;
  }

  &__fio {
    font-size: 16px;
    overflow-wrap: anywhere;
  }

  &__contact {
    display: flex;
    flex-grow: 2;
    margin-top: 20px;
    overflow-wrap: anywhere;

    &:nth-child(3) {
      justify-content: left;
    }

    &:nth-child(4) {
      justify-content: right;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var.$color_ffffff;
  }
}
