.enterTheGroupPage {
  display: flex;
  flex-direction: row;
  gap: 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__posts {
    min-width: 552px;
    display: grid;
    gap: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
