.main-page-content{
  display: grid;
  gap: 32px;
  grid-template-columns: minmax(max-content, 552px) minmax(max-content, 357px);
  min-height: 90vh;

  &__posts{
    margin: 32px 0 0 0;
    padding: 0;
    display: grid;
    gap: 20px;
  }
}
