.button {
	font-family: 'Inter';
	font-weight: 400;
	border-radius: 16px;
	border: 2px solid #818C99;
	cursor: pointer;
	line-height: 120%;
	padding: 8px 24px;

	&__primary {
		color: #FFFFFF;
		background-color: #818C99;
	}

	&__secondary {
		color: #181818;
		background-color: none;
		border: 2px solid #818C99;
	}

	&__link {
		background: none;
		border: none;
		padding: 0;
	}
}
