@use '../../variables' as var;

.groupFollowers {
  padding: 44px 22px;
  border-radius: 16px;
  background: var.$bg_color_secondary;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__title {
    font-family: var.$font-family-default;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: -0.24px;
    color: var.$text_color_default;
  }

  &__span {
    color: var.$text_color_secondary2;
    font-family: var.$font-family-default;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
