
.block{
  border-radius: 16px;
  background-color: #EAEAEA;
  padding: 32px 18px;
}
  
.photo{
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background-color: #969696;
}

.name{
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 12px 0 4px 0;
}

.role{
  margin: 0;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #757575;
}
  
// .list{
//   display: grid;
//   list-style: none;
//   margin: 50px 0 0 0;
//   padding: 0;
//   gap: 10px;
// }
  
.item{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.text{
  margin: 0;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #757575;
}

.span{
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #757575;
}
