@use '../../variables' as var;

.profileBlock {
  border-radius: 16px;
  background-color: #ffffff;
  padding: 32px 17px 32px 12px;
  width: 163px;
  height: fit-content;

  &__name {
    font-family: var.$font-family-default;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 12px 0 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var.$text_color_default;
    text-decoration: none;
  }

  &__role {
    margin: 0;
    font-family: var.$font-family-default;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var.$text_color_secondary2;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__text {
    margin: 0;
    font-family: var.$font-family-default;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var.$text_color_secondary2;
  }

  &__span {
    font-family: var.$font-family-default;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var.$text_color_secondary2;
  }

  &__help {
    margin-top: 28px;
    border-top: 1px solid var.$text_color_secondary4;
    padding-top: 12px;
  }
}
