.card {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-size: 13px;
	display: flex;
	width: 941px;
	height: 144px;
	border-radius: 16px;
	background: rgba(217, 217, 217, 0.54);
	padding-left: 24px;
	padding-right: 23px;

	&__avatarBlock {
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background-color: #b3b3b3;
		display: flex;
		margin-top: 36px;
		margin-bottom: 54px;
		margin-right: 24px;
	}

	&__avatarImg {
		height: 54px;
		width: 54px;
		border-radius: 50%;
	}

	&__info {
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-top: 47px;
		margin-bottom: 54px;
	}

	&__fio {
		font-size: 16px;
	}

	&__contacts {
		display: flex;
		gap: 16px;
		flex-direction: column;
		margin: 48px 0;
	}

	&__contact {
		display: flex;
		align-items: center;
		gap: 5.5px;
	}
}
