@use '../../variables' as var;

.login-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var.$header_height - var.$footer_height);

  // &__buffer-top и &__buffer-bottom добавлены для позиционирования формы на
  // странице, с учётом того, что для базового экрана  из макета  на размер
  // 1280x800 - расстояние от формы до Header 104px, а до Footer 207px.
  // Пропорция сохранится для любой высоты экрана

  &__buffer-top {
    min-height: 104px;
    display: flex;
    flex: 1;
  }
  &__buffer-bottom {
    min-height: 207px;
    display: flex;
    flex: calc(207 / 104);
  }

  &__form-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 502px;
  }

  &__image {
    display: flex;
    position: absolute;
    pointer-events: none;

    &_size_small {
      top: 207px;
      left: calc(100% + 94px);
    }
    &_size_medium {
      top: 301px;
      left: 462px;
    }
  }
}
