.post-input {
  &__form {
    background: #ffffff;
    border-radius: 16px;
    padding: 12px 28px;
    display: grid;
    row-gap: 20px;
  }

  &__box {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 36px 1fr fit-content(20px);
    align-items: center;
    column-gap: 12px;
  }

  &__avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: url(./images/avatar.svg);
    margin-right: 4px;
  }

  &__input {
    height: 19px;
    width: 100%;
    border: none;
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #474747;

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__file {
    height: 20px;
    width: 20px;
    background-image: url(./images/file.svg);
    background-color: transparent;
    background-position: center;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__smile {
    height: 20px;
    width: 20px;
    background-image: url(./images/smile__icon.svg);
    background-color: transparent;
    background-position: center;
    border: none;
    margin-left: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    font-family: var(--font-family-default);
    background: #65f0c6;
    border-radius: 16px;
    padding: 12px 24px;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: #24dca4;
    }
  }
}
