@use '../../../variables' as var;

.postInput {
  margin-bottom: 32px;

  &__form {
    background: #ffffff;
    border-radius: 16px;
    padding: 12px 28px;
    display: grid;
    row-gap: 20px;
  }

  &__box {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 36px 1fr fit-content(20px);
    align-items: center;
    column-gap: 12px;
  }

  &__input {
    height: 19px;
    width: 100%;
    border: none;
    font-family: var.$font-family-default;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #474747;
    resize: none;
    overflow: hidden;
    margin-left: 7px;

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__fileBox {
    display: flex;
    gap: 8px;
  }

  &__fileLabel {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(./images/file__icon.svg);
    background-color: transparent;
    background-position: center;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &_img {
      background-image: url(./images/img__icon.svg);
    }
  }

  &__file {
    display: none;
  }

  &__prewievBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__prewiev {
    position: relative;
    width: fit-content;
  }

  &__img {
    background: var.$bg_color_primary;
    border-radius: 16px;
    width: fit-content;
    max-width: 496px;
  }

  &__canselBtn {
    position: absolute;
    background-color: transparent;
    background-image: url(./images/x.svg);
    width: 24px;
    height: 24px;
    border: none;
    top: 12px;
    right: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  &__fileList {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__smile {
    height: 20px;
    width: 20px;
    background-image: url(./images/smile__icon.svg);
    background-color: transparent;
    background-position: center;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    font-family: var.$font-family-default;
    background: #65f0c6;
    border-radius: 16px;
    padding: 12px 24px;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: #24dca4;
    }
  }

  &__popup {
    position: absolute;
    list-style: none;
    width: auto;
    height: 164px;
    background-color: var.$bg_color_primary;
    z-index: 1;
    left: 48px;
    top: 19px;
    padding: 16px;
    border-radius: 16px;
    display: grid;
    gap: 8px;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
  }

  &__popupItem {
    height: 20px;
    width: 20px;
    background-image: url(./images/smile__icon.svg);
    background-color: transparent;
    background-position: center;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
