@use '../../../variables' as var;

$border-radius: 16px;

.select {
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 28px;
    width: 100%;
    min-width: 83px;
    border-radius: $border-radius;
    background: var.$bg_color_primary;
    border: none;
    outline: none;
    position: relative;
  }

  &__text {
    display: flex;
    align-items: center;
    height: 23px;
    font-size: 16px;
    font-family: var.$font-family-default;
    line-height: 120%;
    text-align: center;
  }

  &__arrow {
    position: absolute;
    top: 4px;
    right: 12px;

    &_up {
      transform: rotate(180deg);
    }
  }

  &__item {
    display: flex;
    margin-bottom: 4px;
    border-radius: 16px;
    width: max-content;

    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      background-color: var.$bg_color_default;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 23px;
    width: 100%;

    padding: 0 12px;
    margin-bottom: 4px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__radio {
    position: absolute;
    top: -9999px;
    visibility: hidden;
  }
}

.mixScrollableContainer {
  position: absolute;
  top: 0;
  left: 0;
}
