.select {
  display: flex;
  overflow: hidden;
  height: 28px;
  padding: 2px 0;
  background: var(--bg_color_primary);
  border-radius: 16px;

  &_opened {
    height: 144px;
    background: var(--color_d7e9fa);
  }

  &__arrow {
    position: absolute;
    top: 4px;
    right: 12px;

    &_up {
      transform: rotate(180deg);
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 35px 0 8px;
    border-radius: 16px;

    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    &_closed {
      overflow-y: hidden;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border: none;
    width: max-content;
    border-radius: 16px;
    padding: 0 12px;

    &_opened {
      &:hover {
        background-color: var(--bg_color_default);
      }
    }
  }

  &__radio {
    position: absolute;
    top: -9999px;
    visibility: hidden;
  }

  &__text {
    display: flex;
    align-items: center;
    height: 23px;
    font-size: 16px;
    font-family: var(--font-family-default);
    line-height: 120%;
    text-align: center;
  }
}

.scroll {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 110px;
  // background-color: burlywood;
  position: absolute;
  right: 12px;
  top: 26px;
  pointer-events: auto;

  &_hidden {
    opacity: 0;
  }

  &__thumb {
    width: 4px;
    height: 48px;
    border-radius: 2px;
    background-color: var(--color_010101);
    position: absolute;
    top: 0;
  }
}
