@use '../../variables' as var;

$block-width: 357px;
$border-radius: 16px;
$transition-time: 0.5s;

@mixin img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $block-width;
  height: 316px;
  border-radius: $border-radius;
  background-color: var.$bg_color_default;
  overflow: hidden;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $block-width;
  position: relative;

  &__imgWrapper {
    @include img;
  }

  &__img {
    display: flex;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;

    &_type_default {
      width: 86px;
      height: 87px;
      transition: $transition-time;
    }

    &_clickable {
      cursor: pointer;
    }
  }

  &__btnPicture {
    @include img;
    flex-direction: column;
    border: none;
    outline: none;

    &_clickable {
      cursor: pointer;
      &:hover .avatar__img_clickable {
        width: 90px;
        height: 91px;
      }
      &:hover .avatar__default-title {
        font-size: 15px;
      }
    }
  }

  &__defaultTitle {
    font-size: 14px;
    font-family: var.$font-family-default;
    font-weight: 700;
    line-height: 120%;
    color: var.$text_color_avatar;
    transition: $transition-time;
  }

  &__restriction {
    font-size: 14px;
    font-family: var.$font-family-default;
    line-height: 120%;
    margin: 8px 0 0 0;
    align-self: flex-start;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;

    &_disabled {
      display: none;
    }
  }
}

.form {
  display: flex;
  width: 100%;

  &__input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: -9999px;
  }

  &__btn {
    width: 100%;
    margin-top: 32px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__btnWrapper {
    margin-top: 32px;
    display: flex;
    width: 100%;
    gap: 25px;
  }
}
