@use '../../variables' as var;

$block-width: 358px;
$border-radius: 16px;
$transition-time: 0.5s;

@mixin img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $block-width;
  height: 316px;
  border-radius: $border-radius;
  background-color: var.$bg_color_default;
  overflow: hidden;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $block-width;
  position: relative;

  &__img {
    @include img;
    object-position: center;
    object-fit: cover;

    &_type_default {
      object-fit: none;
    }
  }

  &__btnPicture {
    @include img;
    flex-direction: column;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover .avatar__imgEdit {
      transform: scale(1.045);
    }
    &:hover .avatar__editTitle {
      font-size: 14.5px;
    }
  }

  &__imgEdit {
    display: flex;
    object-position: center;
    object-fit: none;
    transition: $transition-time;
    cursor: pointer;
  }

  &__editTitle {
    font-size: 14px;
    font-family: var.$font-family-default;
    font-weight: 700;
    line-height: 120%;
    color: var.$text_color_avatar;
    transition: $transition-time;
  }

  &__restriction {
    font-size: 14px;
    font-family: var.$font-family-default;
    line-height: 120%;
    margin-top: 8px;
    align-self: flex-start;
    transition: 0.3s;
    overflow: hidden;
    max-height: 100px;
    transition: 0.3s;

    &_hidden {
      max-height: 0;
      margin-top: 0;
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: -9999px;
  }

  &__btn {
    width: 100%;
    margin-top: 32px;
  }

  &__btnWrapper {
    display: flex;
    width: 100%;
    gap: 25px;
    margin-top: 32px;
  }
}
