.auth-input {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: var(--font-family-default);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;

	&__title {
		margin-bottom: 12px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		background: var(--color_cfcfcf);
		border-radius: 16px;
		padding: 0 12px;
		height: 48px;
	}

	&__input {
		display: flex;
		align-items: center;
		outline: none;
		border: none;
		background: none;
		width: 100%;
		flex: 1;
		color: var(--color_757575);
	}

	&__icon-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		outline: none;
		background: none;
		box-shadow: none;
		margin-left: 12px;
	}
}
