// 1. variables for colors:
// 1.1 fonts:
$text_color_default: #010101;
$text_color_light: #ffffff;
$text_color_secondary: #7e7f80;
$text_color_secondary2: #474747;
$text_color_secondary3: rgba(141, 141, 141, 1);
$text_color_secondary4: #f4f4f4;
$text_color_placeholder: #cfd4d9;
$text_color_error: #ff6b6b;
$text_color_avatar: #d7e9fa;

// 1.2 backgrounds:
$bg_color_default: #ffffff;
$bg_color_primary: #f3f9ff;
$bg_color_secondary: #d7e9fa;
$bg_color_header: #ffffff;
$bg_color_footer: #f3f9ff;
$bg_color_layout: #f3f9ff;
$bg_color_error: #f9c2c2;
$bg_color_mistake: #ff6b6b;

// 1.3 buttons:
$btn_color_default: #65f0c6;
$btn_color_active: #24dca4;
$btn_color_hover: #24dca4;
$btn_color_disabled: #cfd4d9;
$btn-text_color_active: #d7e9fa;
$btn-text_color_hover: #d7e9fa;

// 1.4 common:
$color_000000: #000000;
$color_181818: #181818;
$color_0b0b0b: #0b0b0b;
$color_010101: #010101;
$color_d7e9fa: #d7e9fa;
$color_ffffff: #ffffff;
$color_f4f4f4: #f4f4f4;
$color_65f0c6: #65f0c6;
$color_757575: #757575;
$color_818c99: #818c99;
$color_8f9fb3: #8f9fb3;
$color_8d8d8d: #8d8d8d;
$color_969696: #969696;
$color_979797: #979797;
$color_99a2ad: #99a2ad;
$color_eaeaea: #eaeaea;
$color_ebebeb: #ebebeb;
$color_bbb8b8: #bbb8b8;
$color_d9d9d9: #d9d9d9;
$color_d3d9de: #d3d9de;
$color_cad5e3: #cad5e3;
$color_cfcfcf: #cfcfcf;

// 2. other variables:
$header_height: 84px;
$footer_height: 58px;

// 3. fonts
$font-family-default: 'Open Sans', 'Inter', Arial, Helvetica, sans-serif;

// 4. animation
// 4.1 duration
$anim-duration-default: 0.3s;
