@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

:root {
	// 1. variables for colors:
	// 1.1 fonts:
	--text_color_default: #010101;
	--text_color_light: #ffffff;
	--text_color_secondary: #7e7f80;

	// 1.2 backgrounds:
	--bg_color_default: #ffffff;

	// 1.3 buttons:
	--btn_color_default: #65f0c6;
	--btn_color_active: #24dca4;
	--btn_color_hover: #24dca4;
	--btn_color_disabled: #cfd4d9;

	--btn-text_color_active: #d7e9fa;
	--btn-text_color_hover: #d7e9fa;

	// 1.4 common:
	--color_000000: #000000;
	--color_181818: #181818;
	--color_0b0b0b: #0b0b0b;
	--color_d7e9fa: #d7e9fa;
	--color_ffffff: #ffffff;
	--color_f4f4f4: #f4f4f4;
	--color_65f0c6: #65f0c6;
	--color_757575: #757575;
	--color_818c99: #818c99;
	--color_8f9fb3: #8f9fb3;
	--color_969696: #969696;
	--color_979797: #979797;
	--color_99a2ad: #99a2ad;
	--color_eaeaea: #eaeaea;
	--color_ebebeb: #ebebeb;
	--color_bbb8b8: #bbb8b8;
	--color_d9d9d9: #d9d9d9;
	--color_d3d9de: #d3d9de;
	--color_cad5e3: #cad5e3;
	--color_cfcfcf: #cfcfcf;

	// 2. other variables:
	--header_height: 84px;
	--footer_height: 116px;

	// 3. fonts
	--font-family-default: 'Open Sans', 'Inter', Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-family-default);
	color: var(--text_color_default);
	background-color: var(--bg_color_default);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
