@use '../../../variables' as var;

.avatars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 18px;
  margin: 20px 0 0 0;

  &__img {
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var.$bg_color_default;

    &:hover {
      border: 2px solid var.$color_65f0c6;
      cursor: pointer;
    }

    &:active {
      border: 2px solid var.$color_65f0c6;
    }
  }
}
