@use '../../../variables' as var;

$textarea-text-paddingX: 12px;
$textarea-max-width: 388px;

.textarea {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: var.$font-family-default;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 12px;
  }

  &__textarea {
    resize: none;
    background: var.$bg_color_primary;
    border-radius: 16px;
    max-width: $textarea-max-width;
    width: 100%;
    min-height: 66px;
    border: none;
    outline: none;
    padding: 4px $textarea-text-paddingX;
    overflow-y: hidden;

    &::placeholder {
      color: var.$text_color_placeholder;
    }

    &_type_error {
      color: var.$text_color_error;
    }
  }

  &__error {
    font-size: 14px;
    color: var.$text_color_error;
    padding: 0 $textarea-text-paddingX;
    width: 100%;
    max-width: $textarea-max-width;
    white-space: pre-wrap;
    margin-left: auto;
  }
}
